{% extends 'app/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
{% block contents %}
<head>
    
	<title>Shop Bán Laptop</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
		}
		header {
			background-color: #00ff00;
			color: #fff;
			padding: 10px;
			text-align: center;
		}
		h1 {
			margin: 0;
			font-size: 36px;
			font-weight: normal;
		}
		main {
			margin: 20px;
		}
		h2 {
			font-size: 24px;
			margin-bottom: 10px;
		}
		p {
			line-height: 1.5;
			margin-bottom: 10px;
		}
	</style>
</head>
<body>
	<header>
		<h1><strong>Liên Hệ</strong></h1>
	</header>
	<main>
		<h1><strong>Liên hệ với chúng tôi: </strong></h1>
		<h5><strong>Quý khách có thể liên hệ với chúng tôi qua: </strong></h5>
		<h5><strong>Số điện thoại: </strong>0922692002</h5>
		<h5><strong>Email: </strong>shoplaptop@gmail.com</h5>
		<h5><strong>Địa chỉ: </strong>235 Hoàng Quốc Việt - Cổ Nhuế 1 - Bắc Từ Liêm - Hà Nội</h5>
		<h3><strong>Chúng tôi sẽ mang đến cho các bạn những trải nghiệm tốt nhất!!!</strong></h3>
		<style>
			h4{
				color: red
			}
		</style>
	</main>
	<style>
		h1{
			color: red
		}
	</style>
</body>
{% endblock contents %}
</html>
