{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--css-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href="{%static 'app/css/style.css'%}" rel="stylesheet"/>
        <link href="{%static 'app/css/owl.carousel.min.css'%}" rel="stylesheet"/>
        <link href="{%static 'app/css/all.min.css'%}" rel="stylesheet"/>

        <link rel="stylesheet" type="text/css" href="{%static 'app/css/main.css' %}" />
        <!-- js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
        <script src="{%static 'app/js/owl.carousel.min.js'%}" ></script>
        <script src="{%static 'app/js/all.min.js'%}" ></script>
        <script src="{%static 'app/js/myscript.js'%}" ></script>
        <script type="text/javascript">
          var user='{{request.user}}'
          function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        </script>

        <title>Shop bán Laptop</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
      <!--Header-->
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{%static 'app/images/avata1.png' %}" width="100", height="90" />
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Trang chủ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'introduction' %}">Giới thiệu</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Sản phẩm
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'dell' %}">Laptop Dell</a></li>
                  <li><a class="dropdown-item" href="{% url 'acer' %}">Laptop Acer</a></li>
                  <li><a class="dropdown-item" href="{% url 'hp' %}">Laptop HP</a></li>
                  <li><a class="dropdown-item" href="{% url 'asus' %}">Laptop Asus</a></li>
                  <li><a class="dropdown-item" href="{% url 'lenovo' %}">Laptop Lenovo</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Liên hệ</a>
              </li>
            </ul>
            <form class="d-flex" role="search" method=POST action="{% url 'search' %}">
              {% csrf_token %}
              <input class="form-control me-1" type="search" placeholder="Nhập sản phẩm cần tìm..." aria-label="Search" name="searched">
              <button type="submit"><i class="fa fa-search"></i></button>
              <style>
                .d-flex {
                  position: relative;
                  width: 400px; /* độ rộng thanh tìm kiếm */
                  margin: 10 auto;
                }
                .d-flex input[type="search"] {
                  width: 100%;
                  padding: 10px;
                  padding-right: 30px;
                  border-radius: 10px; /* bo góc của khung tìm kiếm */
                  border: none;
                  outline: none;
                  background-color: #e6eeff;
                }
                .d-flex button {
                  position: absolute;
                  right: 0;
                  top: 0;
                  border: none;
                  outline: none;
                  background: none;
                  cursor: pointer;
                  padding: 10px;
                }
              </style>
            </form>             
          </div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <div class='form-inline my-0 my-lg-2'>
              <span><strong> Xin chào! {{request.user}}</strong></span>
            </div>
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Đăng nhập</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Đăng ký</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Đăng xuất</a>
          </ul>
          <div class='form-inline my-2 my-lg-0'>
            
            <a href="{% url 'cart' %}"><img id="cart-icon" src="{% static 'images/cart.png' %}"></a>
            <p1>{{cartItems}}</p1>
            <style>
              p1{
                color: red;
                font-weight: bold
              }
            </style>
          </div>
        </div>
      </nav>
      <!--main body-->
      {% block banner_slider %} {% endblock banner_slider %}
      {%block main-content%} {%endblock main-content%}
      <!--Giao diện cart-->
      {% block cart_content %} {% endblock cart_content %}
      <!--Giao diện checkout-->
      {% block content_checkout %} {% endblock content_checkout %}
      <!--Giao diện register-->
      {% block register %} {% endblock register %}
      <!--Giao diện login-->
      {% block login %} {% endblock login %}
      <!--Giao diện introduction-->
      {% block content %}{% endblock content %}
      <!--Giao diện contact-->
      {% block contents %}{% endblock contents %}
      <!--Giao diện dell-->
      {% block new-content %}{% endblock new-content %}
      <!--Giao diện acer, asus, hp, lenovo-->
      {% block news-content %}{% endblock news-content %}
    <!--Footer-->
      <footer>
        <div class="container--fluid bg-success text-center p-0 mt-5">
                <div style="display: flex;">
                  <style>
                    h4{
                      color: white;
                      font-weight: bold;
                    }
                    h6{
                      color: white;
                      text-decoration: underline;
                    }
                  </style>
                  <div style="flex: 1;"><h4>Hỗ trợ - Dịch vụ</h4>
                  <h6>Mua hàng trả góp</h6>
                  <h6>Hướng dẫn đặt hàng và thanh toán</h6>
                  <h6>Tra cứu đơn hàng</h6>
                  <h6>Chính sách bảo hành</h6>
                  <h6>Phạm vi, điều khoản gói bảo hành mở rộng</h6>
                  <h6>Chính sách bảo mật</h6>
                  <h6>Chính sách giải quyết khiếu nại</h6>
                  <h6>Điều khoản mua bán hàng hóa</h6>
                  <h6>Câu hỏi thường gặp</h6>
                  </div>
                  <div style="flex: 2;"><h4>Thông tin liên hệ</h4>
                    <h6>Bán hàng Online</h6>
                    <h6>Chăm sóc Khách Hàng</h6>
                    <h6>Hỗ Trợ Kỹ thuật</h6>
                    <h6>Hỗ trợ Bảo hành & Sửa chữa</h6>
                    <h6>Liên hệ khối văn phòng</h6>
                    <h6>Trung tâm bảo hành</h6>
                  </div>
                  <div style="flex: 2;"><h4>Hình thức vận chuyển</h4>
                  <p>
                    <img class="col-lg-3" src="{% static 'app/images/nhattin.jpg' %}">
                    <img class="col-lg-3" src="{% static 'app/images/vnpost.jpg' %}">
                  </p>
                  </div>
                  <div style="flex: 1;"><h4>Tổng đài</h4>
                    <button>1900.1009</button>
                  </div>
                  <div style="flex: 2;"><h4>Thanh toán miễn phí</h4>
                    <p>
                      <img class="col-lg-3" src="{% static 'app/images/logo-visa.png' %}">
                      <img class="col-lg-3" src="{% static 'app/images/logo-master.png' %}">
                    </p>
                    <p>
                      <img class="col-lg-3" src="{% static 'app/images/logo-jcb.png' %}">
                      <img class="col-lg-3" src="{% static 'app/images/logo-samsungpay.png' %}">
                    </p>
                    <p>
                      <img class="col-lg-3" src="{% static 'app/images/logo-atm.png' %}">
                      <img class="col-lg-3" src="{% static 'app/images/logo-vnpay.png' %}">
                    </p>
                  
                </div>
                
        </div>
        <div>
          <p><strong>
            © 2023. SHOP BÁN LAPTOP 
          </strong></p>
          <p><strong>
            Địa chỉ: Số 235 Hoàng Quốc Việt, phường Cổ Nhuế 1, quận Bắc Từ Liêm, Thành Phố Hà Nội, Việt Nam. Điện thoại: 1900.1009. Chịu trách nhiệm nội dung: Đỗ Ngọc Minh.
          </strong></p>
        </div>
      </footer>
      <script src="{%static 'app/js/cart.js'%}" ></script>
    </body>
</html>