{% extends 'app/base.html' %}
{% load static %}
{% block content_checkout %}
     <div class="row" style="width:100%">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form id="form">
					<div id="user-info">
						<div class="form-field">
						<p><strong>Thông tin khách hàng:</strong></p>
							<input required class="form-control" type="text" name="name" placeholder="Họ tên..">
						</div>
						<div class="form-field">
							<input required class="form-control" type="email" name="email" placeholder="Email..">
						</div>
					</div>
					
					<div id="shipping-info">
						<hr>
						<p><strong>Thông tin vận chuyển:</strong></p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="Số điện thoại..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="Số nhà..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="state" placeholder="Phường/Xã/Thị trấn..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="zipcode" placeholder="Quận/Huyện..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="country" placeholder="Tỉnh/Thành phố..">
						</div>
						<div class="form-field">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								  Hình thức thanh toán
								</a>
								<ul class="dropdown-menu">
								  <li><a class="dropdown-item" href="#">Thanh toán qua ATM</a></li>
								  <li><a class="dropdown-item" href="#">Thanh toán qua ví điện tử</a></li>
								  <li><a class="dropdown-item" href="#">Trả tiền mặt khi thanh toán</a></li>
								</ul>
						</div>
					</div>

					<hr>
					<input id="form-button" class="btn btn-outline-success btn-block col-lg-12" type="submit" value="Tiếp tục">
				</form>
			</div>

			<br>
			
		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-success" href="{% url 'cart' %}">&#x2190; Quay lại giỏ hàng</a>
				<hr>
				<h3><strong>Thứ tự đặt hàng: </strong></h3>
				<hr>
				<div class="box-element">
					<div class="cart-row">
						<div style="flex:2"></div>
						<div style="flex:2"><h5><strong>Sản phẩm</strong></h5></div>
						<div style="flex:1"><h5><strong>Giá</strong></h5></div>
						<div style="flex:1"><h5><strong>Số lượng</strong></h5></div>
						
					</div>
				{%for item in items%}
			<div class="cart-row">
				<div style="flex:2"><img class="row-image" src="{{item.product.ImageURL}}"></div>
				<div style="flex:2"><p>{{item.product.name}}</p></div>
				<div style="flex:1"><p>{{item.product.price}}</p></div>
				<div style="flex:1">
					<p class="quantity">{{item.quantity}}</p>
					<div class="quantity">
						<img data-product = {{item.product.id}} data-action = 'add' class="chg-quantity update-cart" src="{% static  'app/images/arrow-up.png'%}">
						
						<img data-product = {{item.product.id}} data-action = 'remove' class="chg-quantity update-cart" src="{% static  'app/images/arrow-down.png'%}">
					</div>
				</div>
				
			</div>
			{%endfor%}
				<h5>Sản phẩm đã thêm:   <strong>{{order.get_cart_items}} </strong></h5>
				<h5>Tổng giá:   <strong>{{order.get_cart_total}} VND</strong></h5>
			</div>
		</div>
	</div>
{% endblock content_checkout %}