{% extends 'app/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
{% block content %}
<head>
    
	<title>Shop Bán Laptop</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
		}
		header {
			background-color: #00ff00;
			color: #fff;
			padding: 10px;
			text-align: center;
		}
		h1 {
			margin: 0;
			font-size: 36px;
			font-weight: normal;
		}
		main {
			margin: 20px;
		}
		h2 {
			font-size: 24px;
			margin-bottom: 10px;
		}
		p {
			line-height: 1.5;
			margin-bottom: 10px;
		}
	</style>
</head>
<body>
	<header>
		<h1>Giới thiệu</h1>
	</header>
	<main>
		<h1>Giới thiệu về Shop: </h1>
		<h3><strong>- Chúng tôi là một shop bán laptop chuyên cung cấp các sản phẩm chất lượng với giá cả phải chăng. Đến với chúng tôi, quý khách sẽ được tư vấn và hỗ trợ chọn lựa sản phẩm phù hợp với nhu cầu sử dụng của mình.</strong></h3>
		<h1>Các sản phẩm của Shop: </h1>
		<h3><strong>- Chúng tôi cung cấp đa dạng các sản phẩm laptop từ các thương hiệu nổi tiếng như Dell, Lenovo, Asus, HP,... với nhiều cấu hình khác nhau phục vụ cho các nhu cầu sử dụng khác nhau.</strong></h3>
		<h3>
		<div class="form-inline my-2 my-lg-0">
			<span><strong>- Quý khách có thể tìm thấy sản phẩm ưng ý của mình {{request.home}}</strong></span>
			<span><a href='{% url 'home' %}'><strong>Tại đây</strong></a></span>
		</div>
	</h3>
			<style>
				h1 {
				  color: red;
				  font-weight: bold;
				}
			  </style>
	</main>
</body>
{% endblock content %}
</html>
